<table>
	<head>
		<style type="text/css">
			.data-row-even, 
			.data-row-odd {
				text-align: center;
			}
			.tdHeader {
				font-size: 18px;
				font-weight: bold;
				padding-top: 25px;
			}
			.tdLayout {
				padding: 0px 25px 0px 0px;
				vertical-align: top;
			}
		</style>
	</head>
	<body>
		<h1>$_CAMPAIGN_NAME</h1>
		<br />

		<table class="tblLayout"><tr>
			<td class="tdLayout">
				<h2>Damage Taken</h2>
				$_DAMAGE_TAKEN
			</td>
			<td class="tdLayout">
				<h2>Damage Inflicted</h2>
				$_DAMAGE_INFLICTED
			</td>
			<td class="tdLayout">
				<h2>Damage By Action</h2>
				$_DAMAGE_BYACTION
			</td>
		</tr></table>
		<br />
		
	</body>
</table>