{
    "bad_files_directory": "d:\\WinTvVideos\\InProcess\\badfiles",
    "ffmpeg_path": "C:\\ffmpeg\\ffmpeg.exe",
    "ffprobe_path": "C:\\ffmpeg\\ffprobe.exe",
    "file_age_seconds": 14400,
    "file_age_seconds_comment": "File must be older than this to be selected for conversion. Ensures the selected file is not still being recorded.",
    "logfile_path": "d:\\WinTvVideos\\ProcessOtaVideo.log",
    "mp4_destination_root": "\\\\diplomat\\d\\Video",
    "no_duration_check_filename": ".nodurationcheck",
    "video_directory": "d:\\WinTvVideos",
    "video_directory_comment": "Directory in which ts files to be converted reside",
    "video_inprocess_directory": "d:\\WinTvVideos\\InProcess",
    "video_inprocess_directory_comment": "Directory in which file conversion takes place"
}